:root {
  color-scheme: light dark;

  --color-background-light: #ffffff; /* White */
  --color-dimmed-light: #f3f4f5; /* Light Gray 200 */
  --color-primary-light: #191e23; /* Dark Gray 900 */
  --color-secondary-light: #6c7781; /* Dark Gray 300 */
  --color-accent-light: #0073aa; /* WordPress Blue */

  --color-background-dark: #191e23; /* Dark Gray 900 */
  --color-dimmed-dark: #23282d; /* Dark Gray 800 */
  --color-primary-dark: #fbfbfc; /* Light Gray 100 */
  --color-secondary-dark: #ccd0d4; /* Light Gray 700 */
  --color-accent-dark: #00a0d2; /* Medium Blue */

  --color-background: var(--color-background-light);
  --color-dimmed: var(--color-dimmed-light);
  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);
  --color-accent: var(--color-accent-light);

  --scale-ratio: 1.25;
  --scale0: 1rem;
  --scale1: calc(var(--scale0) * var(--scale-ratio));
  --scale2: calc(var(--scale1) * var(--scale-ratio));
  --scale3: calc(var(--scale2) * var(--scale-ratio));
  --scale4: calc(var(--scale3) * var(--scale-ratio));
  --scale5: calc(var(--scale4) * var(--scale-ratio));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-background-dark);
    --color-dimmed: var(--color-dimmed-dark);
    --color-primary: var(--color-primary-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-accent: var(--color-accent-dark);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  font:
    1em/1.5 'Google Sans',
    sans-serif;
}

ol,
ul {
  padding-left: 1.2em;
}

:not(.icon-list, .tag-list) > li + li {
  margin-top: 0.1em;
}

li::marker,
.network {
  color: var(--color-secondary);
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

h1,
h2 {
  line-height: 1.2;
  text-align: center;
}

h1 {
  font-size: var(--scale5);
}

h2 {
  color: var(--color-secondary);
  font-size: var(--scale4);
}

h3 {
  color: var(--color-secondary);
  font-size: var(--scale3);
  margin-top: 0.5em;
}

h4 {
  font-size: var(--scale2);
}

h5 {
  font-size: var(--scale1);
}

h6 {
  font-size: var(--scale0);
}

blockquote {
  border-left: 0.2em solid var(--color-dimmed);
  padding-left: 1em;
}

cite {
  color: var(--color-secondary);
  font-style: inherit;
}

cite::before {
  content: '— ';
}

svg {
  margin-right: 0.2em;
  vertical-align: text-bottom;
}

.main,
.side {
  max-width: 44em;
  margin: 0em 1em;
}

.header {
  background: var(--color-dimmed);
  padding: 2em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header > img {
  border: 4px solid;
  border-radius: 50%;
  margin: 0 auto;
  max-width: 12em;
}

.header > * {
  align-items: center;
  justify-content: center;
}

.summary {
  text-align: center;
  color: var(--color-secondary);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article > * + *,
blockquote > * + *,
.timeline > div > * + * {
  margin-top: 0.2em;
}

h4 {
  margin-top: 0.5em;
}

.meta {
  color: var(--color-secondary);
}

.stack {
  /* display: grid; */
  /* gap: 1.5em; */
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em 1em;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin-top: 1em;
}

.grid-list {
  display: grid;
  gap: 0.5em 0;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  list-style: none;
  padding: 0;
  padding-top: 0.4em;
}

.tag-list > li {
  background: var(--color-dimmed);
  border-radius: 0.2em;
  padding: 0.2em 0.6em;
}

.timeline > div {
  position: relative;
}

.timeline > div:not(:last-child) {
  padding-bottom: 1rem;
}

.timeline > div:not(:last-child)::before {
  position: absolute;
  top: 1rem;
  left: -15px;
  width: 2px;
  height: 100%;
}

@media (min-width: 65em) {
  h1,
  h2 {
    text-align: left;
  }

  .main {
    min-width: 44em;
  }

  .side {
    min-width: 22em;
    max-width: 22em;
  }

  .header {
    flex-direction: row;
    justify-content: center;

    article {
      justify-content: center;
      text-align: left;
    }
  }

  .content {
    flex-direction: row;
    justify-content: top;
    align-items: baseline;
  }

  .icon-list {
    justify-content: left;
  }

  .grid-list {
    /* grid-template-columns: repeat(auto-fit, minmax(calc((100% - 1em) / 2), 1fr)); */
  }
}

@media screen {
  .content {
    margin-bottom: 4em;
  }

  .header {
  }
}

@media print {
  body {
    print-color-adjust: exact !important;
    padding-left: 1em;
    padding-right: 1em;
  }

  .header {
    background: none;
  }

  html {
    font-size: 10px;
  }

  h1,
  h2 {
    text-align: left;
  }

  .icon-list {
    justify-content: left;
  }
}
