/* @import url('fonts.css'); */

:root {
  color-scheme: light dark;

  --color-background-light: #ffffff;
  --color-dimmed-light: #f0f0f0;
  --color-primary-light: #191e23;
  --color-secondary-light: #6c7781;
  --color-accent-light: #0073aa;
  --color-shadow-light: #00000045;

  --color-background-dark: #191e23;
  --color-dimmed-dark: #363d44;
  --color-primary-dark: #fbfbfc;
  --color-secondary-dark: #ccd0d4;
  --color-accent-dark: #00a0d2;
  --color-shadow-dark: #00000084;

  --color-background: var(--color-background-light);
  --color-dimmed: var(--color-dimmed-light);
  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);
  --color-accent: var(--color-accent-light);
  --color-shadow: var(--color-shadow-light);

  --scale-ratio: 1.2;
  --scale0: 1rem;
  --scale1: calc(var(--scale0) * var(--scale-ratio));
  --scale2: calc(var(--scale1) * var(--scale-ratio));
  --scale3: calc(var(--scale2) * var(--scale-ratio));
  --scale4: calc(var(--scale3) * var(--scale-ratio));
  --scale5: calc(var(--scale4) * var(--scale-ratio));

  --main-size: 40em;
  --side-size: 20em;
  --total-size: calc(var(--main-size) + var(--side-size) + 4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-background-dark);
    --color-dimmed: var(--color-dimmed-dark);
    --color-primary: var(--color-primary-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-accent: var(--color-accent-dark);
    --color-shadow: var(--color-shadow-dark);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

svg {
  width: var(--scale0);
  height: var(--scale0);
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  font: 1em/1.5 'Google Sans';
  font-weight: 300;
  padding: 0.5em;
  -webkit-font-smoothing: antialiased;
}

.main,
.side {
  max-width: var(--main-size);
  margin: 0em 0.5em;
}

.highlights {
  padding-left: 1.3em;
}

p {
  margin-bottom: 0.1em;
}

li::marker,
.network {
  color: var(--color-secondary);
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  padding-bottom: 0.2em;
}

h4,
h5 {
  padding-bottom: 0;
}

h1,
h2 {
  line-height: 1;
  text-align: center;
}

h1 {
  font-size: var(--scale5);
}

h2 {
  color: var(--color-secondary);
  font-size: var(--scale4);
}

h3 {
  font-size: var(--scale3);
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

h3::before,
h3::after {
  content: '';
  height: 1px;
  background-color: var(--color-primary);
  flex-grow: 1;
}

h4 {
  font-size: var(--scale2);
}

h5 {
  font-size: var(--scale1);
  -webkit-font-smoothing: undefined;
}

h6 {
  font-size: var(--scale0);
}

.header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;

  article {
    padding-top: 0.5em;
    text-align: left;
  }
}

.header > img {
  border: 4px solid;
  border-radius: 50%;
  margin: 0 auto;
  max-width: 12em;
}

.header > * {
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 0 0.5em;
  align-items: baseline;
}

.duration {
  color: var(--color-secondary);
  padding-right: 1em;
}

.highlights {
  padding-top: 0.2em;
}

.summary {
  text-align: left;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meta > div {
  color: var(--color-secondary);
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em 1em;
  list-style: none;
  justify-content: center;
  margin: 0.7em 0em;
}

.icon-list > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
}

.grid-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6em;
  list-style: none;
  padding: 0.5em 0;
}

.tag {
  background: var(--color-dimmed);
  border-radius: 0.2em;
  padding: 0.1em 0.3em 0.1em 0.3em;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem var(--color-shadow));
}

.tag > a {
  color: var(--color-primary);
}

.timeline > div {
  position: relative;
  padding-bottom: 0.5em;
}

.timeline > div:not(:last-child)::before {
  position: absolute;
  top: 1rem;
  left: -15px;
  width: 2px;
  height: 100%;
}

article {
  break-inside: avoid;
  padding-bottom: 0.1em;
}

@media (min-width: 64em) {
  .main {
    max-width: var(--main-size);
  }

  .side {
    max-width: var(--side-size);
    min-width: var(--side-size);
  }

  .header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .content {
    flex-direction: row;
    justify-content: top;
    align-items: baseline;
  }
}

@media screen {
  .header {
    padding-top: 2em;
  }

  .content {
    margin-bottom: 4em;
  }
}

@page {
  @bottom-left {
    content: counter(page) ' of ' counter(pages);
  }
}

@media print {
  .download {
    visibility: hidden;
  }

  body {
    print-color-adjust: exact !important;
  }

  .header {
    background: none;
    padding-top: 1em;
  }

  html {
    font-size: 11px;
  }

  .main {
    max-width: var(--main-size);
  }

  .side {
    max-width: var(--side-size);
    min-width: var(--side-size);
  }

  .header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .content {
    flex-direction: row;
    justify-content: top;
    align-items: baseline;
  }
}
